Package: com.autruche.dontmanagemynotifications
Name: DontManageMyNotifications
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Remove the Manage section of the notification quick actions. IOS 12 compatible.
Maintainer: Autruche <https://github.com/Autruche-IOS>
Author: Autruche <https://github.com/Autruche-IOS>
Section: Tweaks
